<h3>Education</h3>
<ul>
  <li><strong>Ph.D. in Computer Science</strong>, Hong Kong University of Science and Technology, 2024 - Present.<br>HKUST NLP Group; advisor: Professor Junxian He.</li>
  <li><strong>B.Eng.</strong>, Shanghai Jiao Tong University, 2020 - 2024.<br>Graduated in June 2024; undergraduate advisor: Professor Junxian He.</li>
</ul>
<h3>Research Experience</h3>
<ul>
  <li><strong>Research Intern, MINIMAX</strong><br>February 2025 - Present</li>
  <li><strong>Research Intern, Tencent WXG</strong><br>June 2024 - September 2024</li>
  <li><strong>Research Intern, Shanghai AI Lab</strong><br>June 2023 - December 2023</li>
</ul>
<h3>Honors</h3>
<ul>
  <li><strong>Zhiyuan Honor Scholarship</strong>, Shanghai Jiao Tong University</li>
</ul>
